{#

(c) Infinite Networks <http://www.infinite.net.au>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block infinite_form_checkbox_grid_widget %}
<table>
    <thead>
        <tr>
            <th scope="col"></th>
        {% for h in form.vars.headers.remainingViews %}
            <th scope="col">{{ h.label }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for row in form %}
        {{ form_widget(row) }}
    {% endfor %}
</table>
{% endblock infinite_form_checkbox_grid_widget %}

{% block infinite_form_checkbox_row_widget %}
    <tr>
        <th scope="row">{{ form.vars.label }}</th>
    {% for cell in form %}
        <td>{{ form_widget(cell) }}</td>
    {% endfor %}
    </tr>
{% endblock infinite_form_checkbox_row_widget %}

{% block infinite_form_attachment_widget %}
{{ form_widget(form.meta) }}
{% set att = form.get('attachment') %}
<span{% if not att %} style="display: none"{% endif %}>{{ att ? att.filename : '' }}</span>
<span{% if att %} style="display: none"{% endif %}>
    {{ form_widget(form.file) }}
</span>
{{ form_widget(form.removed, {value: ''}) }} {# Don't preserve 'removed' between posts #}
{% if form.meta.get('value') %}
    <input type="button" value="Remove" onclick="var x=$(this).hide().prev().val(1).prev().show().prev().hide()">
{% endif %}
{% endblock infinite_form_attachment_widget %}
