{#

(c) Infinite Networks <http://www.infinite.net.au>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block infinite_form_checkbox_grid_widget %}
<table>
    <thead>
        <tr>
            <th scope="col"></th>
        {% for h in form.vars.headers.remainingViews %}
            <th scope="col">{{ h.label }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for row in form %}
        {{ form_widget(row) }}
    {% endfor %}
</table>
{% endblock infinite_form_checkbox_grid_widget %}

{% block infinite_form_checkbox_row_widget %}
    <tr>
        <th scope="row">{{ form.vars.label }}</th>
    {% for cell in form %}
        <td>{{ form_widget(cell) }}</td>
    {% endfor %}
    </tr>
{% endblock infinite_form_checkbox_row_widget %}

{% block infinite_form_entity_search_widget %}
{{ form_widget(form.id) }}
{% set class = attr.class|default('') ~ ' entity-search' %}
{{ form_widget(form.name, {'attr': attr|merge({'autocomplete': 'off', 'class': class, 'data-search-url': path(search_route)})}) }}
{% endblock infinite_form_entity_search_widget %}

{% block infinite_form_attachment_widget %}
{% set has_att = not not form.meta.vars.value %}
{# If there was a file upload error, pretend there's no attachment #}
{% if form.file.vars.errors|length %}
    {% set has_att = false %}
{% endif %}
{{ form_widget(form.meta, has_att ? {} : {value: ''}) }}
<span{% if not has_att %} style="display: none"{% endif %}>{{ value ? value.filename : '' }}</span>
<span{% if has_att %} style="display: none"{% endif %}{% if form.file.vars.errors|length %} class="has-error"{% endif %}>
    {{- form_widget(form.file, {attr: has_att ? {disabled: 'disabled'} : null}) -}}
    {{- form_errors(form.file) -}}
</span>
{% if has_att %}
    <input type="button" value="Remove" onclick="var p='previousSibling',x=this;x.style.display='none';x=x[p][p];x.style.display='';x.firstChild.disabled=false;x=x[p][p];x.style.display='none';x[p][p].value=''">
{% endif %}
{% endblock infinite_form_attachment_widget %}
